@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Will allow you to segment each group to get a better understanding of your member base.
    </p>

    <p>
        Will allow you to get a view of how the church as a whole is doing.
    </p>

    <p>
        Will allow you get a very accurate view of your member base and who consistently goes. 
    </p>
</article>

<aside>
    <h3>SOTC</h3>
    <p>
        Please dont hesistate to contact us.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>